@model BendeYaparim.Web.Models.Message
<script type="text/javascript">
    $("Document").ready(function () {
        $("form").submit(function () {
            $(":submit", this).attr("disabled", "disabled");
        });
    });
    
</script>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <!-- ikincil sol alan baþlangýç -->
        <td class="left_side" valign="top">
            <div class="mleft20">
                <span class="myTitle">Bu mesajý silmek istediðinizden eminmisiniz ?</span>
                <div class="clear">
                </div>
                <div class="mleft20 left_shadow">
                    <div class="mleft20">
                        <p class="mleft40 pright20">
                            @Model.ContentBody</p>
                        <div class="clear">
                        </div>
                        <div class="hr2">
                        </div>
                        @using (Html.BeginForm("DeleteConfirmed", "Message", new { id = Model.MessageId }))
                        {
                            <p>
                                <input type="submit" value="Sil" class="myBtn mleft40" />
                                |
                                @Html.ActionLink("Mesajlarýma geri dön", "Index", "Message")
                            </p>
                        }
                        <div class="clear">
                        </div>
                        <div class="hr2">
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <!-- sol alan bitiþ -->
        <!-- sað alan baþlangýç -->
        <td class="right_side" valign="top">
            <p class="SubCont">
                <center>
                    <img src="../../Content/images/banner.png" /></center>
            </p>
        </td>
        <!-- sað alan bitiþ -->
    </tr>
</table>
<div class="clear">
</div>
