@model System.Web.Mvc.HandleErrorInfo
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <!-- sol alan başlangıcı -->
        <td class="left_side" valign="top">
            <div class="mleft40">
                <p class="pright10">
                    <br />
                    Bir hata oluştu , özür dileriz. Hatanın neden oluştuğu bulunup intikamınız alınacaktır.
                    <br />
                </p>
            </div>
        </td>
        <!-- sol alan bitiş -->
        <!-- sağ alan başlangıç-->
        <td class="right_side" valign="top">
            <center>
                <img src="../../Content/images/menubanner.png" /></center>
        </td>
        <!-- sağ alan bitiş -->
    </tr>
</table>
